.container {
    background-color: rgba(130, 176, 231, 0.08);
}

.column12 {
    display: flex;
    justify-content: space-around;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #65c9ff;
    color: white;
    text-align: center;
}