* {
    color: black;
}

.navbar {
    background-color: #65c9ff;
    display: flex;
    justify-content: space-around;
    margin: 15px;
}

.navbarNav {
    display: contents;
}

.container {
    background-color: rgba(130, 176, 231, 0.08);
}

.welcomeMenu {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.column12 {
    display: flex;
    justify-content: space-around;
}
.text {
    vertical-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #65c9ff;
    color: white;
    text-align: center;
}