.navbar {
    background-image: url('../../assets/bgestacio.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
}

.navbarNav {
    display: contents;
    align-items: center;
}

.navbarNav .nav-link {
    margin-right: 10px;
    color: #000;
    text-decoration: none;
}

.navbarNav .nav-link:hover {
    color: #007bff;
}

.navbarNav .nav-link.active {
    color: #007bff;
    font-weight: bold;
}