.user-sidebar {
    background-color: #B4BDC6;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: width 0.3s ease;
}

.user-sidebar.open {
    width: 50px;
}

.user-sidebar.closed {
    background-color: #c3c3c3;
}

.user-sidebar.closed h2,
.user-sidebar.closed h3,
.user-sidebar.closed a,
.user-sidebar.closed .logout-button {
    display: none;
}

.user-sidebar .profile-circle {
    width: 90%;
    height: 0;
    padding-bottom: 90%;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 10px;
    overflow: hidden;
}

.user-sidebar .profile-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.user-sidebar h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.user-sidebar h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.user-sidebar a,
.user-sidebar a:link,
.user-sidebar a:visited {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    margin-bottom: 10px;
}

.user-sidebar a:hover,
.user-sidebar a:focus {
    color: #007bff;
}

.user-sidebar .logout-button {
    padding: 5px 10px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.user-sidebar .logout-button svg {
    margin-right: 5px;
}

.user-sidebar .toggle-button {
    position: absolute;
    top: 10px;
    right: -20px;
    width: 30px;
    height: 30px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.user-sidebar .toggle-button:hover {
    background-color: #007bff;
}
