.user-sidebar {
    background-image: url('../../assets/bgestacio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: width 0.3s ease;
}

.home-button {
    padding: 5px 10px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    margin-right: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-sidebar .home-button svg {
    margin-right: 5px;
}

.user-sidebar.open {
    width: 250px;
}

.user-sidebar .hidden {
    display: none;
}

.user-sidebar.closed {
    background-color: #c3c3c3;
}

.user-sidebar .avatar-container .avataaar {
    width: 100px;
    height: 100px;
}
.avatar-container {
    position: relative;
}

.edit-icon {
    position: absolute;
    bottom: 27px;
    right: 40px;
    width: 24px;
    height: 24px;
    background-color: rgba(0, 51, 255, 0.35);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-icon svg {
    color: white;
}
.user-sidebar h2,
.user-sidebar h3,
.user-sidebar a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.user-sidebar a,
.user-sidebar a:link,
.user-sidebar a:visited {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    margin-bottom: 10px;
}

.user-sidebar a:hover,
.user-sidebar a:focus {
    color: #007bff;
}

.user-sidebar .logout-button,
.user-sidebar .home-button {
    padding: 5px 10px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-sidebar .logout-button svg,
.user-sidebar .home-button svg {
    margin-right: 5px;
}

.user-sidebar .toggle-button {
    position: absolute;
    top: 10px;
    right: 4px;
    width: 30px;
    height: 30px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.user-sidebar .toggle-button:hover {
    background-color: #007bff;
}
